<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= rating.user.username if rating.user%> </li>
  <% end %>
</ul>

<%= link_to 'create new rating', new_rating_path %>

